<div *ngIf="!IsLogged">
  <app-login></app-login>
</div>
<div *ngIf="IsLogged">
  <header>
    <nav style="padding:25px;" class="navbar navbar-expand-lg ">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink = "/inicio">Inicio</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Salas
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/nueva">Sala</a>
                <a class="dropdown-item" routerLink="/agendar">Agendar sala</a>
                <a class="dropdown-item" routerLink="/calendario">Calendario</a>
              </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/perfil">Perfil de usuario</a>
              </li>
            <li class="nav-item active" style="text-align: right;">
              <a class="nav-link" (click)="onCerrarSesion()">Cerrar sesión</a>
            </li>
          </ul>
        </div>
      </nav>
  </header>
  <router-outlet></router-outlet>
</div>

