<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>Salas activas</h1>
                <div class="card border-success mb-3" style="max-width: 30rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body text-success">
                      <h5 class="card-title">Success card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="card-link">Editar</a>
                      <a href="#" class="card-link">Eliminar</a>
                    </div>
                </div>
            </div>  
            <div class="col-sm">
                <h1>Salas agendadas</h1>
                <div class="card border-primary mb-3" style="max-width: 30rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body text-primary">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Editar</a>
                    <a href="#" class="card-link">Eliminar </a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <h1>Historial de salas</h1>
                <div class="card border-secondary mb-3" style="max-width: 30rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body text-secondary">
                    <h5 class="card-title">Secondary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
</body>
</html>